{
  "presets": [
    ["react"],
    [
      "env",
      {
        "targets": {
          "ie": "11",
          "chrome": "68"
        },
        "modules": "commonjs",
        "useBuiltIns": true,
        "debug": false
      }
    ]
  ]
}
